* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-image: url(el-sena-en-manizales.jpg);
    background-size: cover;
}
form{
    text-align: center;
}

.login-container {
    background: rgba(159, 134, 134, 0.9);
    color: white;
    padding: 25px;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    max-width: 400px;
    text-align: left;
    height: 32rem;
}

.logo {
    width: 70px;
    display: block;
    margin: 0 auto 10px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}

input, select {
    width: 220px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    box-shadow: #252625 2px 2px;
}

.btn {
    background: linear-gradient(90deg, #1d6f1d, #009900a0);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    transition: 0.4s;
}

.btn:hover {
    transform: scale(1.1);
}

a{
    color: lightgreen;
    text-decoration: none;
    font-size: 14px;
}



#ayuda{
    position: absolute;
    bottom: 20px;
    right: 20px;
    top: 30rem;
    background: linear-gradient(90deg, #1d6f1d, #009900a0);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-decoration: none;
    transition: 0.8s;
}

#ayuda:hover{
        transform: rotate(360deg) scale(1.2);
}
#password{
    margin-bottom: 1rem;
}


@media screen and (max-width: 768px) {
    .login-container {
        background: rgba(159, 134, 134, 0.9);
        color: white;
        padding: 10px;
        border-radius: 10px;
        width: 250px;
        text-align: center;
        height: 20rem;
    }

    .logo {
        width: 40px;
        margin-bottom: 20px;
        border-radius: 50%;
    }

    input,
    select,
    button {
        margin-bottom: 10px;
        padding: 4px;
        border: none;
        border-radius: 5px;
        font-size: 10px;
    }
    label {
        font-size: 10px;
    }
    
    p {
        margin-top: 5px;
        font-size: 10px;
    }
    
    .btn {
        background: linear-gradient(90deg, #1d6f1d, #009900a0);
        color: white;
        font-size: 10px;
        padding: 3px 8px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-top: 15px;
        font-weight: bold;
        transition: 0.4s;
        margin-bottom: 10px;
    }

    #ayuda {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #252625;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.4s;
        font-size: 16px;
        transition: transform 0.3s ease-in-out;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: background-image 1.5s ease-in-out;
    }

}