* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(159, 134, 134, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.logo {
    width: 60px;
    margin-bottom: 40px;
    border-radius: 50%;
}


input,
button {
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input {
    background: rgba(255, 255, 255, 0.695);
    color: black;
    box-shadow: #252625 2px 2px;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;

}

.forgot-password {
    color: #1d7e1d;
    font-size: 12px;
    margin-bottom: 10px;
    text-decoration: none;
}


#ayuda {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #252625;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.4s;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.btn {
    background: linear-gradient(90deg, #1d6f1d, #009900a0);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    transition: 0.4s;
    margin-bottom: 10px;
}

.btn:hover {
    transform: scale(1.1);
}

#ayuda:hover {
    transform: rotate(360deg) scale(1.2);
    background: linear-gradient(90deg, #1d6f1d, #009900a0);
}


@media screen and (max-width: 768px) {
    .login-container {
        background: rgba(159, 134, 134, 0.9);
        color: white;
        padding: 10px;
        border-radius: 10px;
        width: 200px;
        text-align: center;
        height: 14rem;
    }

    .logo {
        width: 40px;
        margin-bottom: 20px;
        border-radius: 50%;
    }

    input,
    select,
    button {
        margin-bottom: 10px;
        padding: 4px;
        border: none;
        border-radius: 5px;
        font-size: 10px;
    }

    .btn {
        background: linear-gradient(90deg, #1d6f1d, #009900a0);
        color: white;
        font-size: 10px;
        padding: 3px 8px;
        text-decoration: none;
        border-radius: 5px;
        display: inline-block;
        margin-top: 15px;
        font-weight: bold;
        transition: 0.4s;
        margin-bottom: 10px;
    }

    #ayuda {
        position: absolute;
        bottom: 10px;
        right: 10px;
        background-color: #252625;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        text-decoration: none;
        font-weight: bold;
        transition: 0.4s;
        font-size: 16px;
        transition: transform 0.3s ease-in-out;
    }

    body {

        background-image: url(el-sena-en-manizales.jpg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        height: 100vh;

    }

}